:root{
    background-color: black;
    color: #CCCCCC;
    
}

header{
    width: 100vw;
}

.navigation{
    display: flex;
}

.nav_ul{
    display: flex;
    list-style: none; 
}

.nav_item{
    display: flex;
}

.header_button{
    display: flex;
}